<div class="sidenav-col">
    <div class="sidenav">
        <a href="/mot-fondateur">Mot du Fondateur</a>
        <a href="/administration">L'administration de l'ISA</a>
        <button class="dropdown-btn">Carrières
	   				 <i class="fa fa-caret-down"></i>
	 			 </button>
        <div class="dropdown-container">
            <a href="offre-emplois">Offres d'emplois</a>
            <a href="application">Candidatures Spontannées</a>
        </div>
    </div>
</div>