<!-- Footer -->
<section class="footer">
    <h4>Institut Supérieur des Affaires de Yaoundé</h4>
    <div class="row">
        <div class="footer-menus">
            <div class="footer-col">
                <a href="">Admission</a>
                <a href="">Pré-inscription</a>
                <a href="">Conditions d'Admission</a>
            </div>
            <div class="footer-col">
                <a href="">Cycles BTS</a>
                <a href="">Cycles HND</a>
                <a href="">Cycles Licenses</a>
            </div>
            <div class="footer-col">
                <a href="">Contactez-Nous</a>:

            </div>
        </div>
    </div>
    <div class="copyright"><i class="fa fa-copyright"></i>Institut Supérieur des Affaires de Yaoundé, all right reserved, designed by T-AMG Labs
    </div>
</section>

<!-- End Footer -->