<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

    <script src="https://use.fontawesome.com/58df4bdbce.js"></script>
    <title>
        <%=title %>
    </title>
</head>

<body>
    <!-- Header -->
    <section class="header">
        <nav>
            <a href="index.html"> <img src="/img/isa_logo.png" alt="ISA logo" class="logo_img"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">ACCUEIL</a></li>
                    <li><a href="institut">L'INSTITUT</a></li>
                    <li><a href="">OFFRE DE FORMATION</a></li>
                    <li><a href="">ADMISSION</a></li>
                    <li><a href="">VIE SUR LE CAMPUS</a></li>
                    <li><a href="contact.html">CONTACTEZ NOUS</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>