<nav>
    <a href="index.html"> <img src="/img/isa_logo.png" alt="ISA logo" class="logo_img"></a>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            <li><a href="/">ACCUEIL</a></li>
            <li><a href="/mot-fondateur">L'INSTITUT</a></li>
            <li><a href="/offre-formation">OFFRE DE FORMATION</a></li>
            <li><a href="/admissions">ADMISSION</a></li>
            <li><a href="/on-campus">VIE SUR LE CAMPUS</a></li>
            <li><a href="contact-us">CONTACTEZ NOUS</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>