<%- include("./partials/header") %>

    <!-- End Header -->
    <!-- Mot Fondateur -->
    <section class="content">
        <h1>Organes Directoire de l'ISA</h1>
        <div class="content-row">
            <!-- Side Nav--->
            <%- include("./partials/administrationSideNav") %>
                <!-- End Side Nav--->
                <!-- Main Content-->

                <div class="column">
                    <div class="admin-row">
                        <div class="card-admin">
                            <img src="img/isa-ceo.jpg" alt="ISA Founder">
                            <div class="container-admin">
                                <h5>Jean-Claude Mfou'ou</h5>
                                <p class="title">Président &amp; Fondateur</p>

                            </div>
                        </div>
                    </div>
                    <div class="admin-row">
                        <div class="card-admin">
                            <img src="img/isa-ceo.jpg" alt="ISA Founder">
                            <div class="container-admin">
                                <h5>Pr. Mengue Jospeh</h5>
                                <p class="title">Directeur des Etudes</p>

                            </div>
                        </div>
                        <div class="card-admin">
                            <img src="img/isa-ceo.jpg" alt="ISA Founder">
                            <div class="container-admin">
                                <h5>Essono Jean Claude</h5>
                                <p class="title">Conseiller</p>

                            </div>
                        </div>
                        <div class="card-admin">
                            <img src="img/isa-ceo.jpg" alt="ISA Founder">
                            <div class="container-admin">
                                <h5>Valentine Abanda</h5>
                                <p class="title">DAG</p>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--End Main Content-->
    </section>
    <%- include("./partials/footer") %>
        <script src="/js/toggleMenu.js"></script>
        <script src="/js/dropDown.js"></script>

        </body>

        </html>