<%- include("./partials/header") %>

    <!-- End Header -->

    <!-- Contact -->
    <section class="contact-us">
        <div class="contact-row">
            <div class="contact-info">
                <div class="box">
                    <div class="icon"><i class="fa fa-phone"></i></div>
                    <div class="text">
                        <h3>
                            De Lundi à Samedi de 08h à 16h
                        </h3>
                        <p>(+237) 242 658 749 / (+237)242 147 896 325</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o"></i></div>
                    <div class="text">
                        <h3>
                            Email us
                        </h3>
                        <p>contact@isa-yaounde.com</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i></div>
                    <div class=text>
                        <h3>
                            Adresse
                        </h3>
                        <p>Yaoundé- Ahala </p>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form action="">
                    <h2>Envoyez votre message</h2>
                    <div class="inputbox">
                        <input type="text" name="name" required>
                        <span>Votre nom</span>
                    </div>
                    <div class="inputbox">
                        <input type="email" name="email" required>
                        <span>Votre email</span>
                    </div>
                    <div class="inputbox">
                        <textarea required name="message"></textarea>
                        <span>Saisissez Votre message</span>
                    </div>
                    <div class="inputbox">
                        <input type="submit" name="" required value="Envoyez">

                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- End Contact -->

    <%- include("./partials/footer") %>
        <script src="/js/toggleMenu.js"></script>
        </body>

        </html>