<%- include("./partials/header") %>
    <div class="text-box">
        <h1>Institut Supérieur des Affaires de Yaoundé</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod consectetur adipisicing elit, sed do eiusmod
        </p>
        <a href="#courses" class="hero_btn">Visit us to know more</a>
    </div>
    </section>
    <!-- End Header -->
    <!---------  Courses   --->
    <section class="courses" id="courses">
        <h1>Notre Offre de Formation</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        </p>
        <div class="row">
            <div class="course-col">
                <h3>Cycles Licence </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, consectetur adipisicing elit, sed do eiusmod
                </p>
            </div>
            <div class="course-col">
                <h3>Cycles BTS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, consectetur adipisicing elit, sed do eiusmod
                </p>
            </div>
            <div class="course-col">
                <h3>Cycles HND</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, consectetur adipisicing elit, sed do eiusmod
                </p>
            </div>
        </div>
    </section>
    <!-- End Courses -->
    <!---------  Campus   --->
    <div class="camp">
        <section class="campus">
            <h1>Le Campus</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod,
            </p>
            <div class="row">
                <div class="campus-col">
                    <h3>Bibliothéque</h3>
                    <img src="/img/isa_library.jpg" alt="ISA library">
                    <div class="layer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>
                            <a href="" class="layer_btn">En savoir plus</a></p>
                    </div>
                </div>
                <div class="campus-col">
                    <h3>Cafétariat</h3>
                    <img src="/img/isa_coffee.jpg" alt="isa coffee shop">
                    <div class="layer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            <br>
                            <a href="" class="layer_btn">En savoir plus</a>
                        </p>
                    </div>
                </div>
                <div class="campus-col">
                    <h3>Salle Machine</h3>
                    <img src="/img/computers.jpg">
                    <div class="layer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            <br>
                            <a href="" class="layer_btn">En savoir plus</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- End Campus -->
    <section class="news">
        <h1>Actualités</h1>
        <p>Toute l'actulité concernant l'ISA</p>
        <div class="">
            <div class="bgimg">

                <div class="middle">
                    <h1>OUVERTURE OFFICIELLE</h1>
                    <hr>
                    <p id="countdown"></p>
                </div>
                <div class="bottomleft">
                    <p>Venez nombreux</p>
                </div>
            </div>
        </div>
    </section>

    <!--End News-->
    <!-- Testimonials -->
    <section class="testimonials">
        <h1>Témoignages</h1>
        <p>Ils pensent ceci de Nous:
        </p>
        <div class="row">
            <div class="testimonial-col">
                <img src="/img/fame_ndongo.jpg" alt="ministre enseignement supérieur cameroun">
                <div>
                    <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo<i class="fa fa-quote-right"></i></p>
                    <h3>Fame Ndongo</h3>
                    <h6>Ministre de l'Enseignement Supérieur</h6>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            </div>
            <div class="testimonial-col">
                <img src="/img/girl.jpg" alt="Etudiante ISA">
                <div>
                    <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo<i class="fa fa-quote-right"></i></p>
                    <h3>Ekoumou Nadège</h3>
                    <h6>Etudiante en Comptabilité</h6>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>

            </div>
            <div class="testimonial-col">
                <img src="img/library.jpg" alt="ISA Student">
                <div>
                    <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo</p><i class="fa fa-quote-right"></i>
                    <h3>Mangamba Calvin</h3>
                    <h6>Etudiant en Informatique</h6>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
        </div>
    </section>
    <!-- End Testimonials -->
    <%- include("./partials/footer") %>
        <script src="/js/toggleMenu.js"></script>
        <script src="/js/countDown.js"></script>
        </body>

        </html>