<%- include('./partials/header.ejs') %>

    <section class="content">
        <h1>Mot du Fondateur</h1>
        <div class="content-row">
            <!-- Side Nav--->
            <%- include("./partials/administrationSideNav") %>
                <!-- End  Side Nav--->
                <!-- Main Content-->
                <div class="maincontent-col">
                    <div class="column">
                        <div class="card">
                            <img src="img/isa-ceo.jpg" alt="ISA Founder" style="width:75%; height: 250px; border-radius: 50%;">
                            <div class="container">
                                <h2>Jean-Claude Mfou'ou</h2>
                                <p class="title">Président &amp; Fondateur</p>
                                <p>Expert Comptable</p>
                                <p><b>mfoujc@isa-yaounde.com</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="column-text">
                            <p>
                                Toute l'équipe de l'Institut Supérieur des Affaires de Yaoundé et moi-même, vous souhaitons la bienvenue sur notre site web.
                            </p>

                            <p>
                                L'institut Supérieur des Affaires de Yaoundé dont je suis le fondateur est le fruit d'un partenariat voulu par un groupe d'entreprises et de personnes très impliqués dans la vie économique ; cette collaboration entre université et entreprises nous permet
                                de pouvoir opérer une sélection minutieuse de notre corps professoral et de vous offrir des filières dans des domaines très sollicités sur le marché du travail, soutenus de missions de terrain vous permettant d'être opérationnels
                                dés la fin de votre cursus;
                            </p>
                            <p>
                                Je vous invite donc, selon votre niveau d'études, à consulter les programmes comme première indication à vous pré inscrire selon votre choix et à nous contacter à tout moment en cas de besoins.
                            </p>
                        </div>
                    </div>
                </div>
                <!--End Main Content-->
        </div>

    </section>


    <%- include("./partials/footer") %>
        <script src="/js/toggleMenu.js"></script>
        <script src="/js/dropDown.js"></script>

        </body>

        </html>