<%- include("./partials/header") %>

    <!-- End Header -->
    <!-- Mot Fondateur -->
    <section class="content">
        <h1>Offres d'emplois :</h1>
        <div class="content-row">
            <!-- Side Nav--->
            <%- include("./partials/administrationSideNav") %>
                <!-- End Side Nav-->
                <!-- Main Content-->
                <div class="maincontent-col">
                    <div class="column" style="background-color: #eee; padding-top: 20px;">
                        <div class="announce-card">
                            <div class="container">
                                <h2>Informaticien</h2>
                                <p class="title">Developeur d'application/web</p>
                                <p>Permanent</p>
                            </div>
                            <div class="card-footer">
                                <p>Depuis 2 jours...</p>
                                <a href="" class="link_button">Postulez...</a>
                            </div>
                        </div>
                        <div class="announce-card">
                            <div class="container">
                                <h2>Enseignant</h2>
                                <p class="title">Comptabilité et Finance publique </p>
                                <p>Vacataire</p>
                            </div>
                            <div class="card-footer">
                                <p>Depuis 5 jours...</p>
                                <a href="" class="link_button">Postulez...</a>
                            </div>
                        </div>
                        <div class="announce-card">
                            <div class="container">
                                <h2>Administration</h2>
                                <p class="title">Assistante de direction</p>
                                <p>Permanent</p>
                            </div>
                            <div class="card-footer">
                                <p>Depuis 15 jours...</p>
                                <a href="" class="link_button">Postulez...</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--End Main Content-->
        </div>

    </section>

    <%- include("./partials/footer") %>
        <script src="/js/toggleMenu.js"></script>
        <script src="/js/dropDown.js"></script>

        </body>

        </html>