<%- include("./partials/header") %>

    <!-- End Header -->
    <!-- Mot Fondateur -->
    <section class="content">
        <h1>Catalogue de Formations:</h1>
        <div class="accordion-wrapper ">
            <div class="accordion-container">
                <button class="accordion ">BTS</button>
                <div class="panel">
                    <div class="container-table">
                        <div class="wrap-table100">
                            <div class="table">
                                <div class="table-row table-header">
                                    <div class="cell">
                                        Filière
                                    </div>
                                    <div class="cell">
                                        Spécialités
                                    </div>

                                </div>

                                <div class="table-row">
                                    <div class="cell" data-title="Filière">
                                        <p> Commerce et Gestion</p>
                                    </div>
                                    <div class="cell" data-title="Spécialités">
                                        <p>Action Commerciale</p>
                                        <p>Assurances</p>
                                        <p>Banque</p>
                                        <p>Comptabilité et Gestion d'Entreprises'</p>
                                        <p>Commerce International</p>
                                        <p>Informatique de Gestion</p>
                                        <p>Secrétariat Bureautique(options:Secrétariat de Direction ; Secrétariat Bureautique Bilingue)</p>
                                    </div>

                                </div>
                                <div class="table-row">
                                    <div class="cell" data-title="Filière">
                                        <p> Communication</p>
                                    </div>
                                    <div class="cell" data-title="Spécialités">
                                        <p>Information</p>
                                        <p>Communication d'Entreprises (options:Communication d’Entreprise)</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="accordion">DSEP</button>
                <div class="panel">
                    <div class="container-table">
                        <div class="wrap-table100">
                            <div class="table">
                                <div class="table-row table-header">
                                    <div class="cell">
                                        Filière
                                    </div>
                                    <div class="cell">
                                        Spécialités
                                    </div>

                                </div>

                                <div class="table-row">
                                    <div class="cell" data-title="Filière">
                                        <p> Marketing Commerce vente</p>
                                    </div>
                                    <div class="cell" data-title="Spécialités">

                                    </div>

                                </div>
                                <div class="table-row">
                                    <div class="cell" data-title="Filière">
                                        <p> Finance et Comptabilité</p>
                                    </div>
                                    <div class="cell" data-title="Spécialités">

                                    </div>

                                </div>
                                <div class="table-row">
                                    <div class="cell" data-title="Filière">
                                        <p>Banque</p>
                                    </div>
                                    <div class="cell" data-title="Spécialités">

                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="cell" data-title="Filière">
                                        <p> Informatique</p>
                                    </div>
                                    <div class="cell" data-title="Spécialités">
                                        <p>Génie Informatique</p>
                                        <p>Informatique de Gestion</p>
                                        <p>Maintenance Informatique</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--End Main Content-->
    </section>
    <%- include("./partials/footer") %>
        <script src="/js/accordion.js"></script>
        <script src="/js/toggleMenu.js"></script>

        </body>

        </html>